@import "tailwindcss";
*{
    font-family: sans-serif;
}

h1{
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    
}
h3{
    font-size: 18px;
    font-weight: 300;
}
p{
    font-size: 14px;
    font-weight: 200;
}